.metamsk-btn {
  background-color: #ff52ce;
  outline: none;
  font-size: 16px;
  padding: 5px 20px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 3px 1px black;
  border-radius: 4px;
  color: white;
  border: none;
  transition: color 0.4s;
}
.metamsk-btn:hover {
  color: black;
  cursor: pointer;
}
