.banner {
  background-image: linear-gradient(180deg, #ffc1d1 0%, #5661a0 100%);
  background-color: transparent;
  height: 100%;
  padding: 5vh;
}
.banner h1 {
  margin: 0;
  font-size: 60px;
  text-shadow: 10px 0px 10px rgb(0 0 0 / 85%);
  font-weight: 500;
  color: white;
}
.banner p,
.banner h3 {
  text-align: left;
  width: 90%;
  font-size: 24px;
  color: white;
  margin: 0vh auto;
  margin-top: 5vh;
}
.banner p p {
  width: 90%;
  height: 2px;
  background-color: white;
  margin: 5vh auto;
}
.faq-section {
  padding-top: 5vh;
  background-color: transparent;
  background-image: linear-gradient(180deg, #e3aeff 0%, #e3aeff 100%);
}
.faq-section h1 {
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  color: black;
  padding-bottom: 2vh;
  margin: 0;
}
.question-container {
  color: white;
  padding: 40px;
  background-image: linear-gradient(180deg, #e3aeff 0%, #ffc1d1 100%);
  background-color: transparent;
  box-sizing: border-box;
  text-align: left;
}
.banner img {
  width: 90%;
  border-radius: 10px;
  height: 90%;
  margin-top: 2vh;
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 36px;
  }
}
