.perks {
  background-color: transparent;
  padding: 20px;
  background-image: linear-gradient(180deg, #f1a5e1 0%, #8febd4 100%);
}
.perks h1 {
  font-size: 24px;
}
.inner-perks {
  text-align: left;
  width: 1060px;
  margin: 0 auto;
}
.perk-ranks {
  margin: 4vh 2vw;
  color: rgb(59, 59, 129);
}
.inner-perks h3 {
  color: rgb(59, 59, 129);
}
@media screen and (max-width: 1200px) {
  .inner-perks {
    width: 90%;
  }
}
@media screen and (max-width: 568px) {
  .perks h1 {
    font-size: 24px;
  }
}
